In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Carnarvon,-24.8667,113.6333,73.47,46,15,20.71,AU,2022-02-07 00:35:18
1,1,Wanning,18.8003,110.3967,72.72,90,52,5.86,CN,2022-02-07 00:38:24
2,2,Puerto Ayora,-0.7393,-90.3518,74.55,92,15,4.00,EC,2022-02-07 00:38:25
3,3,Mataura,-46.1927,168.8643,60.48,36,21,1.88,NZ,2022-02-07 00:38:25
4,4,Annonay,45.2397,4.6708,48.85,85,100,3.94,FR,2022-02-07 00:38:26

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
15,15,Kirakira,-10.4544,161.9205,84.94,76,100,10.98,SB,2022-02-07 00:38:32
19,19,Arraial Do Cabo,-22.9661,-42.0278,76.21,89,2,21.25,BR,2022-02-07 00:38:34
20,20,Kapaa,22.0752,-159.3190,79.20,71,90,4.00,US,2022-02-07 00:38:16
22,22,Oranjestad,12.5240,-70.0270,78.75,73,20,14.97,AW,2022-02-07 00:38:01
25,25,Vaini,-21.2000,-175.2000,77.16,94,75,14.97,TO,2022-02-07 00:38:38
36,36,Rikitea,-23.1203,-134.9692,79.00,71,45,19.26,PF,2022-02-07 00:38:34
38,38,Kiunga,-6.1219,141.2906,89.31,60,100,0.89,PG,2022-02-07 00:38:45
40,40,Hilo,19.7297,-155.0900,78.53,77,100,11.50,US,2022-02-07 00:38:46
50,50,Atuona,-9.8000,-139.0333,78.91,74,12,18.68,PF,2022-02-07 00:38:47
53,53,Butaritari,3.0707,172.7902,82.58,74,85,15.75,KI,2022-02-07 00:39:51

In [15]:
preferred_cities_df.count()

City_ID       126
City          126
Lat           126
Lng           126
Max Temp      126
Humidity      126
Cloudiness    126
Wind Speed    126
Country       126
Date          126
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
15         Kirakira      SB     84.94 -10.4544  161.9205
19  Arraial Do Cabo      BR     76.21 -22.9661  -42.0278
20            Kapaa      US     79.20  22.0752 -159.3190
22       Oranjestad      AW     78.75  12.5240  -70.0270
25            Vaini      TO     77.16 -21.2000 -175.2000
36          Rikitea      PF     79.00 -23.1203 -134.9692
38           Kiunga      PG     89.31  -6.1219  141.2906
40             Hilo      US     78.53  19.7297 -155.0900
50           Atuona      PF     78.91  -9.8000 -139.0333
53       Butaritari      KI     82.58   3.0707  172.7902

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}